#vuepress-plugin-comment
  max-width $contentWidth
  margin 0 auto
  padding 2rem 2.5rem
  @media (max-width: $MQNarrow)
    padding 2rem
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem

#main-title
  display none !important


.page .page-title {
    max-width: 850px !important;
    margin: 0 auto !important;
    padding: 1rem 0 !important;
    color: var(--text-color) !important;
}
